h1{
  font: italic bold 30px Georgia, serif;
  text-align: center;
}

p{
  font: italic bold 20px Georgia, serif;
  text-align: center;
}
body{
  font-family: "Times New Roman", Times, serif;
  background-color: #FCF7FF; ;
}
@media only screen and (max-width: 750px) {
  body {
    background-color: lightblue;
  }
}
.flex-container{
  display: flex;
  height: 950px;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  align-content: space-between;
  background-color:peachpuff;
}
.flex-container.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 270px;
  line-height: 75px;
}
.flex-container .gallery:nth-child(1){
  order: 4;
}
.flex-container .gallery:nth-child(3){
  flex-grow: 2;
}

.flex-container > .gallery:hover {
  border: 1px solid #777;
}

.flex-container > .gallery img {
  width: 200px;
  height: auto;
}


.flex-container > .desc {
  padding: 15px;
  text-align: center;
}